.container {
    display: flex;
    margin: 3%;
}

#teddy_bears {
    display: none;
}

#bear_cubs {
    display: none;
}

#panda_bear {
    display: none;
}

#sun_bear {
    display: none;
}

#bear_tracks {
    display: none;
}